---
layout: default
title: Home
---

<h1>{{ "hello world!" | capitalize }}</h1>

<section class="above-fold">
    <!--SLIDE SHOW-->
  <section class="slideshow">
    <div class="slideshow-item">
      <div class="image">
        <img src="/assets/img/frontpage/man-489744_1920.jpg" class="check-aspect-ratio" />
      </div>
      <h2 class="caption">
        <a href="ourwork">
          <em>Partnering with</em>
          <strong>Communities Worldwide</strong>
          <em>To build tools to defend their rights</em>
        </a>
      </h2>
    </div>
  </section>

    <!--END SLIDE SHOW-->

</section>
